.navbar{
    width: 100%;
    padding-left: 105px;
    padding-right: 105px;
    margin-top: 20px;
}

.navbar-items{
    display: flex;
    width: 100%;
    position: absolute;
    
}

.nav-links{
    display:flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    
}

li{
    list-style: none;
    display: flex;
}


