
.navbar{
    padding: 25px;
    overflow: hidden;

}


.navbar-brand{
    float: left;
    margin-left: 40px;
    margin-right: 150px;
    margin-top: 20px;
    
}


.navbar-nav{
display: flex;
flex-direction: row;
align-items: center;
list-style: none;
text-decoration: none;
}


a:link{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    
    
}


a:link:hover{
    text-decoration: underline;
    color: rgb(7, 73, 241);
}




li{
    display: inline-block; 
    margin-right: 60px;

}



.btn-card{
height: 55px;
width: 150px;
border-radius: 10px;
background-color: #0056D2;
font-style: normal;
font-weight: 700;
font-size: 18px;
align-items: center;
border: none;
float: right;
text-decoration: none;

}


.navbar .sell-btn {
    padding-left: 150px;
    

}




.btn-card:hover{
background-color: #0084f7;
cursor: pointer;

}



.btn-card .sell-text{
    color: azure;
    text-align: center;
}


.btn-card .sell-text:hover{
    text-decoration: underline;
    color: azure;
}