html {
    height: 100%;
    width: 100%;
  }


.navbar{
    width: 100%;
    padding-left: 105px;
    padding-right: 105px;
    margin-top: 20px;
}

.navbar-items{
    display: flex;
    width: 100%;
    position: absolute;
    
}

.nav-links{
    display:flex;
    flex-direction: row;
    

}

li{
    display: flex;
}



.Enroll-btn{
    display: flex;
    width: 100%;
    position: absolute;
}

.btn-card{
position: absolute;
width: 171px;
height: 55px;
left: 1164px;
color: rgb(255, 255, 255);
border-radius: 10px;
background-color: rgb(6, 127, 248);
font-family: 'Jost';
font-style: normal;
font-weight: 700;
font-size: 18px;
align-items: center;
border: none;

color: #FFFFFF;

    
}